<!-- Extend Boostrap -->
{% extends "base.html"%}

{% block head_content %}
    <title>Platzigram</title>
{% endblock %}
    
{% block container %}
    <div class="row">
        {% for post in posts %}
            {% include "posts/post_card.html" %}
        {% endfor %}
    </div>

    {% include 'pagination.html' %}            
{% endblock %}
















