{% extends "users/base.html" %}

{% block head_content %}
    <title>Platzigram sign in</title>
{% endblock %}

{% block container %}
    <!-- Si la variable error contiene algo: -->
    {% if form.errors %}
        <p class="alert alert-danger">
        Your username or password didn't match :(, please try again.
        </p>
    {% endif %}
    <!-- action === 
                    NULL (sin action) || 
                    ="." ||
                    =/users/login ||
                    ="{ % url "name" % }"-->
    <form method="POST" accion="{% url "users:login" %}">
        {% csrf_token %}
        <!-- = request.user -->
        <div>
        
        </div>
        <div class="form-group">
            <input class="form-control mb-2" type="text" placeholder="Username" name="username" />
            <input class="form-control" type="password" placeholder="Password" name="password" />
        </div>
        <button class="btn btn-primary btn-block mt-5" type="submit" name="signin">Sign In!</button>
    </form>
    
    <button class="btn btn-primary btn-block mt-5" onclick="location.href = '{% url "users:signup" %}'">Sign Up!</button>
    
    <p class="mt-4">Don't have an acount yet? <a href="{% url "users:signup" %}">Sign up here.</a></p>
{% endblock %}

