{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>{{ request.user.username }} | Update</title>
{% endblock %}

{% block container %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6  p-4" id="profile-box">

<!-- enctype : El form recive varios tipos de datos (xej: files) -->
<!-- Los archivos por formulario no se envian por request.POST, se envian por request.FILE en la vista -->
            <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="media">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="rounded-circle" height="50" />
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" 
                            class="rounded-circle" 
                            height="50" 
                        />
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4"> Hello {{ request.user.username}} | {{ request.user.get_full_name }}</h5>
                        <p class="ml-4">
                            <input 
                                type="file" 
                                name="picture" 
                                id="picture"
                            />
                        </p>
                    </div>
                </div>

                {% for error in form.picture.errors %}
                    <div class="alert alert-danger">
                        <b>Picture: </b>{{ error }}
                    </div>
                {% endfor %}
                
                <hr><br>

                <div class="form-group">
                    <label>Website</label>
                    <input 
                        class="form-control {% if form.website.errors %}is-invalid{% endif %}" 
                        type="url" 
                        name="website" 
                        id="website" 
                        placeholder="Website"
                        required="true"
                        value="
                        {% if form.errors %}
                            {# Si hay errores, imprime el valor ingresado erroneo #}
                            {{ form.website.value }}
                        {% else %}
                            {# Si no hay errores, imprime el valor guardado del formulario #}
                            {{ profile.website }}
                        {% endif %}"/>
                    <div class="invalid-feedback">
                        {% for error in form.website.error %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label>Biography</label>
                    <textarea 
                        class="form-control {% if form.biografy.errors %}is-invalid{% endif %}" 
                        name="biografy"
                        placeholder="Biography"
                        id="biografy">{% if form.errors %}{{ form.biography.value }}{% else %}{{ profile.biografy }}{% endif %}</textarea>
                    <div class="invalid-feedback">
                        {% for error in form.biografy.error %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-control">
                    <label>Phone number</label>
                    <input 
                        class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}"
                        type="text"
                        name="phone_number"
                        placeholder="Phone number"
                        value="{% if form.errors %}{{ form.phone_number }}{% else %}{{ profile.phone_number }}{% endif %}"/>
                    <div class="invalid-feedback">{% for error in form.phone_number.error %}{{ error }}{% endfor %}</div>
                </div>

                <button type="submit" class="btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

